{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">

{% endblock %}

{% block content %}

<div class="container my-3 ">
  <div class="row">
   <b> <h3 class="ms-4">What is Parking in Tech?</h3></b> 
   <p class="yasla"> 
    The increase in the number of vehicles in traffic with the increase in population in the world and in our country has led to parking lot and vehicle traffic problems.
    has emerged.  Metropolises and big cities are the places where the problems related to parking lot planning are the most intense.
    Parking lot problems cause people to waste time searching for a place and cause financial losses. 
    Parking in Tech is a practical and practical solution to this problem that people living in big cities face in daily life. 
    is a website that aims to find highly efficient solutions. Completely free of charge, Parking in Tech offers its users 
    minimize time loss by providing the opportunity to see the city traffic around the parking lots in their city. 
    aims to reduce the number of people in the country.
    </p>
  </div>
</div>

{% endblock %}