{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">

{% endblock %}

{% block content %}

<div class="container my-3">
  <div class="row">
   <b> <h3 class="ms-4">What is Parking in Tech?</h3></b> 
   <p class="yasla"> 
    As one of the results of urbanization and the increase in human population, 
    the use of parking lots and parking space needs of people living in big cities are increasing day by day. 
    Especially in places where population density and vehicle use are high, 
    people spend a lot of time and waste energy to find parking spaces in parking lots and parking places. 
    In addition, stops in the parking lot cause traffic around the parking lot and thus in the city. 
    We aimed to find a practical and economical solution to this problem that people frequently encounter in daily life, 
    which will minimize the loss of waste of energy and time.
    </p>
  </div>
</div>

{% endblock %}
