{% extends 'base.html' %}

{% block head %}

<style type="text/css">
    .H_ib_body{
        width: 15rem !important;
        height: fit-content !important;
        background: transparent;
    }

    .exp{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem
    }

    table{
        border: 2px solid black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    td, tr{
        border: 1px solid #222222;
    }

    td{
        width: 3em;
        height: 3em;
        margin: 0;
    }

    .empty{
        text-align: center;
        background-color: green;
    }

    .full{
        text-align: center;
        background-color: red;
    }

    .pintable{
        color: white;
        font-size: 1.5em;
        margin: 0;
    }
</style>

<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<script type=text/javascript src="{{url_for('static', filename='js/home.js')}}"></script>

<script type=text/javascript>
    LIST_OF_LOTS = {{list_of_lots|safe }}
    LIST_OF_PARKS = {{list_of_parks|safe }}
    RECOMENDED_LOT = {{recomended_lot|safe }}
    EMPTY_AREA_NUM = {{empty_area_len|safe }};
</script>
  
{% endblock %}

{% block content %}
{% if empty_area_len < 1 %}
    <div class="row my-3 mx-auto">
        <h2 class="exp">There are no free spaces in the smart parking lot. We will direct you to the parking lot with the least traffic in the vicinity.</h2>
    </div>
{% else %}
    <div class="row my-2 mx-auto">
        <h2 class="exp">There is {{ empty_area_len }} free space in the smart parking lot.</h2>
    </div>
    <div class="my-3">
        <table class="mx-auto">
            {% for i in range(-(-slot_num//col_num)) %}
                <tr>
                    {% if ((i+1) == (-(-slot_num//col_num))) and ((slot_num % col_num) != 0) %}
                        {% set upper_bound = ((i*col_num) + (slot_num % col_num)) + 1 %}
                    {% else %}
                        {% set upper_bound = ((i+1)*col_num)+1 %}
                    {% endif %}
                    {% for a in range((i*col_num)+1, upper_bound) %}
                        {% if a in empty_area %}
                            {% if i == 0 and a == 1 %}
                                <td class="empty"><img src=" {{ url_for('static', filename='wheelchair.svg') }}" alt="wheelchair"></td>
                            {% else %}
                                <td class="empty"> <p class="pintable">{{a}}</p> </td>
                            {% endif %}
                        {% else %}
                        {% if i == 0 and a == 1 %}
                            <td class="full"><img src=" {{ url_for('static', filename='wheelchair.svg') }}" alt="wheelchair"></td>
                        {% else %}
                            <td class="full"><p class="pintable">{{a}}</p> </td>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
<div class="container-flex mx-2">
    <div style="height: 68vh;" id="mapContainer"></div>
</div>
<div class="container-flex mx-2 text-center">
    {% if empty_area_len < 1 %}
        <img class="img-fluid" src="{{ url_for('static', filename='explanation_wide.jpeg') }}" alt="explanation">
    {% else %}
        <img class="img-fluid" src="{{ url_for('static', filename='explanation_space_available.jpeg') }}" alt="explanation">
    {% endif %}
</div>

{% endblock %}